@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Nunito', sans-serif;

    /* particular */
    --modrinth-green: #1bd96a;
    --async-bg: #222fd5;
    --backrooms: #b6b461;
    --branded: #f8bd4a;
}

body.dark {
    --bg-color: #353535;
    --txt-color: #fff;
}

body.light {
    --bg-color: #fff;
    --txt-color: #000;
}

body {
    font-family: var(--font);
    font-size: 14px;
    color: #000;
    background: #fff;
    overflow: hidden auto;
}

body.dark {
    color: var(--txt-color);
    background: var(--bg-color);
}

a:-webkit-any-link {
    color: initial;
    text-decoration: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

h1, h2, h3 {
    font-weight: 900;
    font-size: 5vw;
    padding: 25px;
}

ul.big {
    margin-left: 5vw;
    list-style-type: none;
}

ul.big > li {
    font-size: 2vw;
}

.bubble {
    background: rgba(0, 0, 0, 0.25);
    padding: 2vw;
    border-radius: 5vh;
    margin: 1rem 0 1rem 0; 
}

.bubble img.showcase {
    background: rgba(0, 0, 0, 0.25);
    padding: 2vw;
    border-radius: 5vh;
    margin: 1rem 0 1rem 0;
    width: 88vw;
}

.slog {
    font-size: 1.5vw;
    font-weight: 700;
}

.d-pad {
    padding: 5vw;
}

.s-cat {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.s-cat .share {
    width: 35px;
    height: 35px;
    padding: 5px;
}

.s-cat > button.share {
    display: none;
}

.s-cat:hover > button.share {
    display: flex;
    align-items: center;
    justify-content: center;
}

a, button {
    padding: .25rem 1rem;
    margin: .25rem;
    border-radius: 2rem;
    font-family: var(--font);
}

a.styleless, button.styleless {
    padding: 0;
    margin: 0;
    border-radius: 0;
    color: var(--async-bg);
    font-family: var(--font);
}

.branded {
    background: var(--branded);
    color: #000;
    border: 3px solid #000;
}

.branded:hover {
    background: #bf9239;
    color: #000;
}

.calm {
    background:rgba(0, 0, 0, 0.25);
    color: #505050;
}

.modrinth {
    box-shadow: inset 0 -1px 1px rgb(0 0 0 / 25%);
    background: var(--modrinth-green);
    color: #000 !important;
}

.modrinth:hover {
    background: #2de391;
}

.github {
    padding: .25rem 1rem;
    margin: .25rem;
    border-radius: 2rem;
}

body.dark .github {
    background: #409eff26;
    border: 1px solid #71b7ff;
    color: #71b7ff !important;
}

body.dark .github:hover {
    background: #71b7ff;
    color: #0a0c10 !important;
}

body.light .github {
    color: #0969da;
    background: #ddf4ff;
}

body.light .github:hover {
    color: #fff;
    background: #0969da;
}

.youtube {
    background: #fff;
    color: #000 !important;
    font-weight: bold !important;
    border-radius: 15vh;
}

.youtube:hover {
    filter: brightness(0.9);
}

.tiktok {
    background: #000;
    color: #fff !important;
}

.twitch {
    background: #9000ff;
    color: #fff !important;
}

.twitch:hover {
    background: #35005e;
    color: #fff !important;
}

.unknownify {
    background: var(--async-bg);
    border-radius: 2rem;
    color: #000 !important;
    font-weight: bold;
}

.footer {
    padding: 5vh;
    background: rgba(0, 0, 0, 0.35);
}

.footer > p {
    color: #505050;
}

/* back button */
.back {
    width: 6em;
    height: 6em;
    position: fixed;
    cursor: pointer;
    top: 0;
}

.back img {
    width: 6em;
    height: 6em;
    rotate: 180deg;
}

/* mc mod version */

.circle {
    width: 10px;
    height: 10px;
    background-color: var(--branded);
    border-radius: 50%;
}

.circle.unstable, .spray.unstable {
    background-color: #ff3232;
}

.spray {
    position: absolute;
    width: 10px;
    height: 150px;
    margin: 0;
    background-color: var(--branded);
    border-radius: 5px;
}

@media (max-width: 500px) {
    ul.big > li {
        font-size: 5vw;
    }

    .bubble {
        padding: 5vw;
    }

    .s-cat > button.share {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bubble.m-op {
        display: flex;
        flex-direction: row;
        overflow: auto auto;
    }
}