.pfp {
    color: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100vw;
    cursor: default;
}

.pfp img.o {
    width: 35vh;
    height: 35vh;
    position: static;
}

.pfp > .sky {
    height: 100vh;
    display: flex;
    border-radius: 10em;
}

.pfp > div.sky {
    height: 100vh;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 500px) {
    h1, h2, h3 {
        font-size: 15vw;
    }

    .slog {
        font-size: 5vw;
    }

    .pfp > .sky {
        margin: 0;
    }

    .pfp > img.sky {
        padding: 0 5vw 5vw 5vw
    }
}